# Archivos compilados Java
*.class
bin/
out/

# Maven (Spring Boot)
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Gradle (Spring Boot)
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Empaquetados Java
*.jar
*.war
*.ear

# Logs
*.log

# Archivos de configuración de IDEs
.vscode/
.idea/
*.iml
.project
.classpath
.settings/

# Archivos temporales de sistema
.DS_Store
Thumbs.db
